@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style */
.container {
    width: 600px;
    /* padding: 10px; */
    margin: 0 auto;
    /* border: 1px solid #999; */
}
img {
    /* display: block; */
    /* img는 인라인 태그이기 때문에 글자의 높낮이를 맞추기 위해 아래에 빈공간이 생기는 거다. display를 block으로 바꾸면 빈공간이 사라진다. */
    vertical-align: top;
    /*  혹은 버티컬 정렬을 위로 맞추면 된다 */
    object-fit: cover;
    /* 왜곡 피하기 !!! */
    width: 100%;
    /* 이미지 태그는 무조건 사이즈 건들여 줘야한다. 원본 크기가 초기 설정 되어있기 때문에 */
}
.order-detail {
    text-align: center;
    border: 1px solid #999;
    padding: 20px;
}
.chk {
    height: 50px;
    font-weight: 700;
    line-height: 50px;
    background-color: black;
    color: white;
}
/* ============================================
   📌 중간정렬?
   -  line-height 를 줄 땐 높이를 줘야한다. !!!한줄만 가능!!!  
   - padding 으로 맞출 수 있다. 단, 이럴 땐 높이를 주지 않아야 함!!! 두줄이상일때 사용!!!
   - vertical-align은
**“이 요소를 옆 요소 기준으로 어디에 맞출까?”**를 정하는 거야.block 요소엔 효과 없음

😋언제 뭘 쓰면 좋을까 (실전 감각)

버튼 안의 한 줄 텍스트 → line-height

아이콘 + 글자 나란히 → vertical-align: middle

레이아웃 / 정렬 / 실무 → flex
   ============================================ */

p {
    font-size: 1.2em;
    line-height: 2em;
    font-weight: 700;
}
h3 {
    font-size: 1.5em;
    color: #ff0000;
}
.info {
    /* border: 1px solid #d8d8d8; */
    border-bottom: 1px solid #999;
    padding: 15px 0;
}
.info:last-child {
    border: 0;
}
.accent {
    color: #0000ff;
}
.small-text {
    font-size: 0.7em;
}

/* =========================================
   😋 img 하단 여백 해결 방법
   -----------------------------------------
   ▸ display: block
     - 이미지 → block 요소
     - 레이아웃용 이미지에 적합
       (배너, 썸네일 등)

   ▸ vertical-align: top
     - inline 상태 유지
     - 텍스트와 함께 쓰는 이미지
       (아이콘, 작은 이미지)
   ========================================= */
