@charset "utf-8";
@import 'font.css';
:root {
    
    --token-916a91b6-3ced-40c2-86cc-816285968722: rgb(253, 96, 26);
    --token-5b9d8b62-ed8c-47b9-9861-e8f3272a6a31: rgb(0, 0, 0);
    --token-8625cd10-184f-41b6-af79-7bb43fbf77cb: rgb(248, 248, 246);
    --token-0ec614b8-f8d9-4624-b83f-74ee449a483f: rgb(179, 179, 179);
    --token-279f93c0-5840-4158-9a93-81a80c7c1cf0: rgb(3, 3, 9);
    --token-3f54a3b2-9298-4f95-bfbf-d0900ebacee8: rgb(252, 188, 25);
    --token-a53d982a-5397-464d-a3a8-34009799dd20: rgb(252, 250, 248);
    --token-1d3815ec-3fc9-4fea-839a-55f0958c40a8: rgb(41, 50, 70);
    --token-44a5a9dd-fda9-43b6-967b-6c7d051aeb69: rgb(230, 230, 250);
    --token-80d541de-0e63-4f45-88ce-5bc3e9f436a8: rgb(147, 66, 252);
    --token-5dfedfe1-3ffe-493e-909f-26e2fe66680b: rgb(0, 119, 255);
    --token-2b5bf467-cf80-43a0-8dc2-f514ed61dda3: rgb(60, 176, 76);
    --token-845da563-0f12-4f15-a132-0adaf3a0f5d7: rgb(28, 110, 165);
    --token-0fc9c68f-7074-4823-be11-d9a8b2a9b1c5: rgba(230, 228, 191, .8);
    --token-ad7c9a7a-9808-480a-b5a1-f86a25669f83: rgba(0, 157, 209, .4);
    --token-333c0638-843c-4bd0-883b-03b6cf573366: rgb(255, 252, 243);
   
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #333;
}
ul {
    list-style:None;
}
img {
    vertical-align: top;
}

/* common */
.container {
    max-width: 1400px;
    margin: 0 auto;    
}
.section {
    padding: 60px 0;
}
h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 150px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--token-279f93c0-5840-4158-9a93-81a80c7c1cf0, rgb(3, 3, 9));
    margin-bottom: 60px;
}

body {
    background-color: var(--token-333c0638-843c-4bd0-883b-03b6cf573366);
}

/* header */
.header {
   
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 120px;
}
.header .logo {}
.header .logo a {
    font-size: 15px;
}
.header nav {}
.header nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.header nav .menu li {}
.header nav .menu li a {
    font-size: 14px;
    font-weight: bold;;
}
.header .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header .social li {}
.header .social li a {
    font-size: 14px;
    font-weight: bold;
}

/* main */
main {
    margin-top: 120px;
}
/* visual */
.visual {
    padding-bottom: 50px;
}
.visual .container {
    position: relative;
    width: 100%;
    height: 503px;
    
}
.visual .visual-text {
    position: absolute;
    width: 979px;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.visual .visual-text p {
    display: flex;
    width: 100%;
    font-size: 181px;
    /* line-height: 163.269px; */
    line-height: 0.86;
    justify-content: flex-start;
    /* align-items: cetner */
}
.visual .visual-text p:nth-child(1)  {
    gap: 30px;
}
.visual .visual-text p:nth-child(1) .txt {
    font-family:  "OffBit Trial Dot Bold", "OffBit Trial Dot Bold Placeholder", sans-serif;
    font-size: 181px;
    color: rgb(3,3,9);
    /* width: 70%; */

}
.visual .visual-text p:nth-child(1) .img-box {
    display: block;
    width: 20%;
    align-self: center;
    height: auto;   
    overflow: hidden;
    border-radius: 20px;
}
.visual .visual-text p:nth-child(1) .img-box  img {
    width: 100%;
    height: 60%;
    overflow:hidden;
    border-radius: 20px;
}
.visual .visual-text p:nth-child(2) {
    color:  rgb(253, 96, 26);
    font-family: "ABC Whyte Inktrap Unlicensed Trial Bold", "ABC Whyte Inktrap Unlicensed Trial Bold Placeholder", sans-serif;
    font-weight: bold;
    
}
.visual .visual-text p:nth-child(2) .img-box {
    position: relative;
}
.visual .visual-text p:nth-child(2) .img-box::after {
    content:'';
    position: absolute;
    top: 5%;
    left: 0;
    /* transform: translate(-50%,-50%); */
    width: 100%;
    height: 100%;
    background: url("../images/PyPFtEkD6wO8ZaUuliTLY0oKsx0.avif") no-repeat center;
    background-size: 120% 220%;
}
.visual .visual-text p:nth-child(3) {
    color: black;
    font-family: "ABC Whyte Inktrap Unlicensed Trial Bold", "ABC Whyte Inktrap Unlicensed Trial Bold Placeholder", sans-serif;
    font-weight: bold;
}
/* about */
.about {}
.about .container{}
.about .intro-txt {
    font-size: 56px;
    line-height: 1.3;
    font-weight: 500;

}
.about .intro-txt span{
    display: inline-block;
    width: 72px;
    height: 77px;
}
.about .intro-txt .icon01 {}
.about .intro-txt .icon01 img {
    width: 100%;
}
.about .intro-txt .icon02 {}
.about .intro-txt .icon02 img {
    height: 100%;
}
.about .intro-txt  .icon03 {}
.about .intro-txt  .icon03 img {
    height: 100%;
}
.about .intro-txt .year-txt {
    width: auto;
    border:2px solid #111;
    padding: 10px 20px;
    line-height: 1;
    border-radius: 50px;

}
/* web-work */
.web-work {
    position: relative;
}
.web-work .container {
    /* min-height: 150vh; */
    position: relative;
   
}
.web-work h2 {
    /* position: absolute;
    width:100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%); */
}
/* .web-work .work-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    border: 1px solid var(--token-279f93c0-5840-4158-9a93-81a80c7c1cf0, rgb(3, 3, 9));
    border-radius: 29px;
    overflow:hidden;
} */
/* .web-work .work-container {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    border-radius: 29px;
    overflow: hidden;
    transition: transform 0.3s ease-out; 
} */
.web-work .work-container { 
    position: absolute;  
    top:0;
    left: 0;
    width: 100%;    
    border-radius: 29px;
    border: 1px solid var(--token-279f93c0-5840-4158-9a93-81a80c7c1cf0, rgb(3, 3, 9));
    overflow: hidden;
    transition: transform 0.3s ease-out; /* 부드러운 이동 */
    z-index: 99;
}
/* #card01 {
    top: 130%;    
}
#card02 {
    top: 130%;    
}
#card03 {
    top: 130%;    
} */

.web-work .work-container .swiper {
    width: 100%;
    height: 600px;
}
.web-work .work-container .swiper-slide {
    border-top-right-radius:12px;
    border-top-left-radius:12px;
    height: 100%;
    overflow: hidden;
}
.web-work .work-container .swiper-slide a {}
.web-work .work-container .swiper-slide a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.web-work .work-container .work-desc {
    width: 100%;
    height:180px;
    padding: 28px;
    position: relative;
    background-color: #fff;
}
.web-work .work-container .work-desc span {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.web-work .work-container .work-desc h3 {
    font-size: 34px;
    line-height: 40.8px;
    color:var(--token-279f93c0-5840-4158-9a93-81a80c7c1cf0, rgb(3, 3, 9));
}
.web-work .work-container .work-desc p {
    font-size: 12px;
    font-weight: 500;
    color: var(--token-279f93c0-5840-4158-9a93-81a80c7c1cf0, rgb(3, 3, 9));
}
.web-work .work-container .work-desc .btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}