/* mobile-menu영역 */
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 980px) {
}
@media screen and (max-width: 680px) {
    .mb-menu {
        padding: 20px 4%;
    }
    .mb-menu .mb-menu-title {
        padding-bottom: 15px;
    }
    .mb-menu .mb-menu-title .mb-logo a {
        width: 150px;
    }
    .mb-menu .mb-main-menu > li .mb-menu-list {
        padding: 12px 0;
        font-size: 18px;
    }
    .mb-menu .mb-main-menu > li .mb-menu-list.mb-li-arrow span {
        font-size: 25px;
    }
    .mb-menu .mb-main-menu > li .mb-submenu {
        /* display: none; */
        padding-bottom: 15px;
    }
    .mb-menu .mb-main-menu > li .mb-submenu li {
        padding: 6px 0;
    }
    .mb-menu .mb-main-menu > li .mb-submenu li a {
        font-size: 14px;
    }
}

/* header영역 */
@media screen and (max-width: 1350px) {
    .header nav {
        margin-right: 25px;
    }
}
@media screen and (max-width: 1280px) {
    .header {
        height: 94px;
    }
    .header::before {
        top: 94px;
    }
    /* logo */
    .header .logo a {
        width: 200px;
    }

    /* nav */
    .header nav .mainMenu > li {
        padding: 0 8px;
    }
    .header nav .mainMenu > li > a {
        font-size: 18px;
        padding: 36px 12px 37px;
    }
    .header nav .mainMenu > li .submenu {
        padding: 20px 0;
    }
    .header nav .mainMenu > li .submenu li {
        padding: 0 0 10px;
    }
    .header nav .mainMenu > li .submenu li a {
        font-size: 14px;
    }
}
@media screen and (max-width: 980px) {
    .header {
        height: 73px;
    }
    .header::before {
        display: none;
    }
    .header .container {
        padding: 0 3%;
        height: 100%;
    }
    /* logo */
    .header .logo a {
        width: 180px;
    }
    /* nav */
    .header nav {
        display: none;
    }
    /* menBtn - 햄버거버튼 */
    .header .menuBtn {
        display: block;
    }
}
@media screen and (max-width: 680px) {
    .header {
        height: 60px;
    }
    .header .container {
        padding: 0 4%;
    }
    /* logo */
    .header .logo a {
        width: 150px;
    }
    /* menBtn - 햄버거버튼 */
    .header .menuBtn {
        width: 20px;
        height: 20px;
    }
    .header .menuBtn span:nth-child(2) {
        top: 9px;
    }
    .header .menuBtn span:nth-child(3) {
        top: 16px;
    }
}
