/* ====== mobile-menu영역 ====== */
.mb-menu {
    position: fixed;
    top: 0;
    /* right: -320px;    */
    /* width: 320px; */
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    overflow-y: auto;
    padding: 25px 3%;
    transition: all 0.2s ease-in;
}
.mb-menu.active {
    right: 0;
}
.mb-menu .mb-menu-title {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-bottom: 25px;
}
.mb-menu .mb-menu-title .mb-logo {
}
.mb-menu .mb-menu-title .mb-logo a {
    display: block;
    width: 180px;
}
.mb-menu .mb-menu-title .mb-logo a img {
    width: 100%;
}
.mb-menu .mb-btn-close {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: -5px;
}
.mb-menu .mb-btn-close span {
    font-size: 30px;
    color: #222;
}
/* mb-menu */
.mb-menu .mb-main-menu {
}
.mb-menu .mb-main-menu > li {
}
.mb-menu .mb-main-menu > li .mb-menu-list {
    display: block;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    color: #222;
    letter-spacing: -0.4px;
    position: relative;
}
.mb-menu .mb-main-menu > li .mb-menu-list.mb-li-arrow {
}
.mb-menu .mb-main-menu > li .mb-menu-list.mb-li-arrow span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #222;
    opacity: 0.7;
    font-size: 30px;
    transition: all 0.3s linear;
}
.mb-menu .mb-main-menu > li .mb-menu-list.mb-li-arrow.active span {
    transform: translateY(-50%) rotate(180deg);
    opacity: 1;
    color: var(--mainColor);
}
.mb-menu .mb-main-menu > li .mb-submenu {
    display: none;
    padding-bottom: 20px;
}
.mb-menu .mb-main-menu > li .mb-submenu li {
    padding: 8px 0;
    line-height: 1.2;
}
.mb-menu .mb-main-menu > li .mb-submenu li a {
    font-size: 16px;
    letter-spacing: -0.466667px;
    line-height: 1.2;
}
/* ====== header영역 ====== */
.header {
    /* position: fixed; */
    left: 0;
    top: 0;
    width: 100%;
    height: 112px;
    overflow: hidden;
    background-color: #fff;
    z-index: 999;
    /* border: 1px solid red; */
    transition: all 0.4s;
}
.header::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    position: absolute;
    top: 112px;
    left: 0;
    opacity: 0;
    transition: all 0.4s;
}
.header.down::before {
    opacity: 1;
}
.header.down {
    height: 340px;
}
.header .container {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100%; */
}
/* logo */
.header .logo {
}
.header .logo a {
    display: block;
    width: 240px;
}
.header .logo a img {
    width: 100%;
}
/* nav */
.header nav {
}
.header nav .mainMenu {
    font-size: 0;
}
.header nav .mainMenu > li {
    display: inline-block;
    vertical-align: top;
    padding: 0 21px;
    position: relative;
}
.header nav .mainMenu > li > a {
    display: block;
    font-size: 20px;
    padding: 44px 16px;
    line-height: 1.2;
    letter-spacing: -0.466667px;
    /* border-bottom: 5px solid transparent;  */
    transition: all 0.4s;
    position: relative;
}
.header nav .mainMenu > li:hover > a {
    color: var(--mainColor);
    /* border-bottom: 5px solid var(--mainColor); */
}
.header nav .mainMenu > li > a::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--mainColor);
    /* opacity: 0; */
    transition: all 0.3s linear;
}
.header nav .mainMenu > li:hover > a::before {
    /* opacity: 1; */
    width: 100%;
}
.header nav .mainMenu > li .submenu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 22px 0;
    text-align: center;
}
.header nav .mainMenu > li .submenu li {
    padding: 0 0 12px;
}
.header nav .mainMenu > li .submenu li a {
    font-size: 16px;
    display: block;
    color: #777;
    letter-spacing: -0.466667px;
    line-height: 1.5;
    word-break: keep-all;
}
.header nav .mainMenu > li .submenu li:hover a {
    font-weight: 700;
    color: var(--mainColor);
}
/* menBtn - 햄버거버튼 */
.header .menuBtn {
    display: none;
    width: 22px;
    height: 22px;
    position: relative;
}
.header .menuBtn span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #222;
    position: absolute;
    left: 0;
}
.header .menuBtn span:nth-child(1) {
    top: 2px;
}
.header .menuBtn span:nth-child(2) {
    top: 11px;
}
.header .menuBtn span:nth-child(3) {
    top: 20px;
}

/* ====== main영역 ====== */
/* ====== footer영역 ====== */
/* ======  ====== */
