@charset 'uft-8';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border-radius: 0;
    border: 0;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* common */

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.list li {
    border-radius: 10px;
    overflow: hidden;
}
.list li img {
    transform: scale(1.3);
}

/* modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.modal.show {
    display: block;
}
.modal .dim {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* 전체 
    top : 0;
    left: 0;
    width:100%;
    height: 100%; 
    와같음
    */
    background-color: rgba(0, 0, 0, 0.8);
}

.modal .dim::before {
    content: "X";
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px 20px;
    background-color: darkred;
    color: white;
}
.modal .item-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1220px;
    height: 686px;
    background-color: aliceblue;
}
.modal .item-box iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
