@charset "utf-8";

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    display: block;
    text-decoration: none;
    color: #444e53;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
}
img {
    vertical-align: top;
}

/* common */

.box {
    float: left;
    border: 1px solid black;
}

.clearFix::after {
    content: "";
    display: block;
    clear: both;
}

.bigBox {
    width: 100%;
    height: 600px;
}

.smallBox {
    margin: 10px;
    width: calc((900px - 20px) / 3);
    height: calc((900px - 20px) / 3);
    background: url(../images/bg4.jpg) no-repeat;
    background-size: 900px 600px;
    background-repeat: no-repeat;
}

.smallBox.smallBox01,
.smallBox.smallBox04 {
    margin-left: 0;
}
.smallBox.smallBox02,
.smallBox.smallBox05 {
    margin-left: 0;
    margin-right: 0;
}
.smallBox.smallBox03,
.smallBox.smallBox06 {
    margin-right: 0;
}
.smallBox.smallBox04,
.smallBox.smallBox05,
.smallBox.smallBox06 {
    margin-top: 0;
}

/* 콘테이너 박스 */
.container {
    width: 900px;
    margin: 20px auto;
}

/* 1번 박스 */
.container .imgTest {
    background: url(../images/bg4.jpg) no-repeat;
}

/* 2번 퍼즐 박스 */
.container .smallBox01 {
    background-position: left top;
}
.container .smallBox02 {
    background-position: center top;
}
.container .smallBox03 {
    background-position: right top;
}
.container .smallBox04 {
    background-position: left bottom;
}
.container .smallBox05 {
    background-position: center bottom;
}
.container .smallBox06 {
    background-position: right bottom;
}

/* 3번 박스 */
.coverTest {
    background: url(../images/bg4.jpg) no-repeat;
    background-size: cover;
}
