@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap");

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}
ul {
    list-style: none;
}

html,
body {
    font-size: 14px;
}

.container {
    width: 700px;
    height: 700px;
    margin: 200px auto;
    background-color: green;
}

.text {
    padding: 100px;
}
.text h1 {
    font-size: 5em;
    font-family: "Signika", sans-serif;
}
.text h1 span {
    display: inline-block;
    animation-name: bounce;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    /* 
        === animation : bounce 0.6s infinite;
    */
}

@keyframes bounce {
    0%,
    100% {
        transform: translate(0);
    }
    25% {
        transform: rotateX("20deg") translateY(2px) rotate(-3deg);
    }
    50% {
        transform: translateY(-20px) rotate(3deg) scale(1.1);
    }
}

.text h1 span:nth-child(1) {
    animation-delay: 0s;
}
.text h1 span:nth-child(2) {
    animation-delay: 0.05s;
}
.text h1 span:nth-child(3) {
    animation-delay: 0.1s;
}
.text h1 span:nth-child(4) {
    animation-delay: 0.15s;
}
.text h1 span:nth-child(5) {
    animation-delay: 0.2s;
}
.text h1 span:nth-child(6) {
    animation-delay: 0.25s;
}
.text h1 span:nth-child(7) {
    animation-delay: 0.3s;
}
.text h1 span:nth-child(8) {
    animation-delay: 0.35s;
}
.text h1 span:nth-child(9) {
    animation-delay: 0.4s;
}
