@charset "utf-8";

.img-box {
    width: 700px;
    height: 400px;
    border: 2px solid seagreen;
}
.dog-img {
    width: 700px;
    height: 400px;
    object-fit: cover;
    /* object-position: center center; 디폴트*/
    /*object-position: left;  좌우 / 상하 */
    object-position: center top;
}
/* html 에서 스타일링을 하지 않는다. */

.video {
    width: 1000px;
    height: 562px;
}
.clip {
    width: 1000px;
    height: 562px;
}
.yt_clip {
    width: 100%;
    height: 30rem;
}
