@charset "utf-8";
/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    /* vertical-align: top; */
}

/* 공통클래스 */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
html {
    line-height: 1.5;
}
body {
    background-color: rgb(240,240,240);
    color: #000;
    min-width: 360px;
    padding-top: 240px;
}
.dummy {
    margin: 0 auto;
    max-width: 32em;
    padding: 6em 0;
}

/* sticky header (clone) */
.page-header-clone {
    position: fixed;
    top: -40px;
    /* top: 0; */
    width: 100%;
    background-color: #000;
    opacity: 0.9;
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
    z-index: 10;
    transition: top .3s;
}
.page-header-clone.visible {
    top: 0;
}
.page-header-clone .inner {
    margin: 0 auto;
    width: 960px;
}
/* logo(clone) */
.page-header-clone .site-logo {
    float: left;
}
.page-header-clone .site-logo a {
    display: block;
    height: 36px;
}
.page-header-clone .site-logo a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* nav(clone) */
.page-header-clone .primary-nav {
    float: right;
}
.page-header-clone .primary-nav ul {}
.page-header-clone .primary-nav ul li {
    float: left;
}
.page-header-clone .primary-nav ul li a {
    color: #ddd;
    display: block;
    padding: 0 1.36em;
    height: 40px;
    line-height: 40px;
}
.page-header-clone .primary-nav ul li a:hover {
    color: #555;
}

/* sticky header */
.page-header {
    position: absolute;
    width: 100%;
    height: 70px;
    min-width: 960px;
    /* ㄴ> 안찌그러지게 하기 위해서 하는것.
    반응형을 할 경우에는 하면 안됨. */
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
    left: 0;
    background-color: #fff;
}
.page-header .inner {
    margin: 0 auto;
    width: 960px;
}

/* logo */
.page-header .inner .site-logo {
    float: left;
}
.page-header .inner .site-logo a {}
.page-header .inner .site-logo a img {}

/* nav */
.page-header .inner .primary-nav {
    float: right;
}
.page-header .inner .primary-nav ul {}
.page-header .inner .primary-nav ul li {
    float: left;
}
.page-header .inner .primary-nav ul li a {
    display: block;
    padding: 0 1.36em;
    line-height: 70px;
    height: 70px;
    text-transform: uppercase;
}

