@charset "utf-8";

/* 리셋 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333;
}
ul {
    list-style: none;
}
img,
video {
    vertical-align: top;
}

/* 공통 클래스 */
.clearFix::after {
    content: "";
    display: block;
    clear: both;
}
.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.focus-on {
    background-color: #000;
}
.focus-on .container {
    height: 500px;
}
.focus-on .focus-txt {
    position: relative;
    float: left;
    width: 30%;
    height: 100%;
}
.focus-on .focus-txt .focus-info {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.focus-on .focus-txt .focus-info .focus-tit {
    font-size: 30px;
    color: #8e43e7;
    margin-bottom: 30px;
    font-weight: 900;
    letter-spacing: -0.4px;
}
.focus-on .focus-txt .focus-info .focus-desc {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    letter-spacing: -0.45px;
    margin-bottom: 25px;
}
.focus-on .focus-txt .focus-info .focus-subtxt {
    font-size: 16px;
    color: #fff;
    margin-bottom: 25px;
}
.focus-on .focus-txt .focus-info .btn {
    display: block;
    width: 120px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-bottom: 25px;
}

.focus-on .focus-clip {
    float: right;
    width: 70%;
    height: 100%;
    position: relative; /* 기준점 */
}
.focus-on .focus-clip::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgb(0, 0, 0) 0%,
        rgba(0, 0, 0, 0.76) 12%,
        rgba(0, 0, 0, 0) 28%,
        rgba(0, 0, 0, 0) 72%,
        rgba(0, 0, 0, 0.76) 88%,
        rgb(0, 0, 0) 100%
    );
    pointer-events: none; /* 비디오 클릭 방해 안 하게 */
}
.focus-on .focus-clip iframe {
    width: 100%;
    height: 100%;
}

/* 클릭을 방지하기 위해 가상 레이어를 덧댄다. */
.focus-on .focus-clip::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* iframe 위에 올라감 */
    /* pointer-events 생략 = 기본값 auto → 클릭 차단! */
}
