@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
    color: #9e4b4b;
}
/* ✨ 꾸미기 ✨ */
h2 {
    margin: 20px 5px;
    padding: 10px;
    border: 1px solid #fda9a9;
    width: 150px;
    border-radius: 8px;
}
div {
    background: #ffd6da;
    border: 1px solid #ffc6d0;
}

/* ////////////////////////////////
   📌 퍼센트 % 단위
   //////////////////////////////// */
.group-01 {
    font-size: 10px;
}
.group-01 div:nth-child(1) {
    font-size: 100%;
}
.group-01 div:nth-child(2) {
    font-size: 150%;
}
.group-01 div:nth-child(3) {
    font-size: 200%;
}
.group-01 div:nth-child(4) {
    font-size: 250%;
}
.group-01 div:nth-child(5) {
    font-size: 300%;
}
/* ========================================
   🧩 퍼센트 폰트의 기준?
   ----------------------------------------
   - 퍼센트는 항상 부모 요소가 기준이 된다.
   - 부모가 10px일 경우 10px이 기준
   - 부모에게 설정된 크기가 없으면 조부모 요소를 따라감
======================================== */

/* ////////////////////////////////
   📌 이엠 em 단위
   //////////////////////////////// */
.group-02 {
    font-size: 10px;
}
.group-02 div:nth-child(1) {
    font-size: 1em;
}
.group-02 div:nth-child(2) {
    font-size: 1.5em;
}
.group-02 div:nth-child(3) {
    font-size: 2em;
}
.group-02 div:nth-child(4) {
    font-size: 2.5em;
}
.group-02 div:nth-child(5) {
    font-size: 3em;
}
/* ========================================
   🧩 em은 배수 개념
   ----------------------------------------
   - em은 배수 개념으로 생각하면 됨
   - 역시 부모 요소를 기준으로 삼습니다.
======================================== */

/* ////////////////////////////////
   📌 알이엠 Rem 단위
   //////////////////////////////// */
.group-03 {
    font-size: 16px; /* 적용 X */
}
.group-03 div:nth-child(1) {
    font-size: 1rem;
}
.group-03 div:nth-child(2) {
    font-size: 1.5rem;
}
.group-03 div:nth-child(3) {
    font-size: 2rem;
}
.group-03 div:nth-child(4) {
    font-size: 2.5rem;
}
.group-03 div:nth-child(5) {
    font-size: 3rem;
}
/* ========================================
   🧩 rem은 배수 개념 + html 을 기준으로
   ----------------------------------------
   - rem은 최상위(루트)를 기준으로 배수 적용
======================================== */

/* ////////////////////////////////
   📌 픽셀 Px 단위
   //////////////////////////////// */
.group-04 {
    font-size: 16px;
}
.group-04 div:nth-child(1) {
    font-size: 16px;
}
.group-04 div:nth-child(2) {
    font-size: 24px;
}
.group-04 div:nth-child(3) {
    font-size: 32px;
}
.group-04 div:nth-child(4) {
    font-size: 48px;
}
.group-04 div:nth-child(5) {
    font-size: 64px;
}
/* ========================================
   🧩 고정된 글자 Px
   ----------------------------------------
   - Px 은 각요소의 크기를 고정
======================================== */

/* ========================================
   💖 실무에서는 퍼센트를 쓰지 않음(+ 픽셀도!!!)
   ----------------------------------------
   - em을 더 자주 쓴다 
   why? 글자 크기를 재조정해야 할 경우 부모 요소의 글꼴 사이즈를 조정하면 쉽게 바뀌기 때문 => 한번에 조정 가능
======================================== */
