@charset "utf-8";

/* ////////////////////////////////
   📌 문단 정렬 
   //////////////////////////////// */

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.left {
    text-align: left;
    margin: 30px 0;
}
.center {
    text-align: center;
    margin: 30px 0;
}
.right {
    text-align: right;
    margin: 30px 0;
}

/* ========================================
   🧩 주의! 글자를 기준으로 정렬
   ----------------------------------------
   div 가 아닌 글자를 기준으로 글자를 정렬하는 스타일입니다..! 영역은 그대로 입니다..!
======================================== */

p.w50 {
    text-align: center;
    margin: 30px 0;
}
span {
    text-align: center;
    margin: 30px 0;
}

.box {
    /* text-align: center; */
    margin: 30px 0;
    background: red;
}
.box span {
    width: 500px; /*적용 안된다.*/
    margin: 0 auto; /*적용 안된다.*/
}
/* ========================================
   🧩 인라인 요소의 성격
   ----------------------------------------
   - 너비를 설정해도 적용 않는다.
   - 글자 취급이 되기 때문에 내용물 만큼 너비가 생깁니다. 
   - 일반적으로 인라인 요소에는 padding, margin 이 적용 되지 않는다. (span, button 같은 태그는 패딩은 됨/ span은 margin은 안됨)
   - 너비와 마진을 주지 못해서 auto 가 적용되지 않는다.
   - text-align을 사용하면 정렬이 가능하다
======================================== */

.box .inner-box {
    margin: 0 auto;
    width: 200px;
    color: white;
    background: #332f2fb5;
}

/* ========================================
   🧩 인라인과 블록의 차이
   ----------------------------------------
   - 텍스트가 정렬될 수 있는 영역이 있느냐 없느냐에 따라 정렬이 정해지는데, 블록 요소의 경우 정렬이 되지만, 인라인 요소의 경우 정렬이 될 여유없이 글자 크기 그대로 영역이 되기 때문에 정렬이 되지 않는다.  
   - span 인라인 요소라 글자처럼 취급된다.
   - text-align은 “글자”를 정렬하는 게 아니라
    👉 inline 요소들이 줄(line) 안에서 어디에 놓일지를 정함
======================================== */

/* ////////////////////////////////
   📌 실습 | 스타벅스 pick 배너 정렬
   //////////////////////////////// */

section {
    background: #333;
    padding: 100px 0;
    margin-bottom: 50px;
}
.pickYourFav {
    width: 400px;
    text-align: right;
}
/* 
========================================
   🧩 너비가 줄어들면 자동으로 개행
   ----------------------------------------
   - div의 너비가 줄어들면 자동으로 개행이 되어 콘텐츠가 정렬이 됩니다.
========================================
*/
.pickYourFav img {
    margin-bottom: 40px;
}
.pickYourFav a {
    display: inline-block;
    /* 인라인도 되고 블록도 된다 */
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid white;
    color: white;
    border-radius: 3px;
    font-size: 13px;
    transition: 0.3s;
    /* 보틍은 0.3s ~ 0.5s 로 준다 */
}
/* 
========================================
   🧩 버튼의 패턴을 기억해보자!
   ----------------------------------------
   - 세로로 중앙 정렬하고 싶으면 높이만큼 line-height 를 주면됨!
   - 좀 쳐져 보이면? 2~4px을 빼면 됨
========================================
*/
.pickYourFav a:hover {
    text-decoration: underline;
    background: white;
    color: #333;
}

/* ////////////////////////////////
   📌 line-height 행간
   //////////////////////////////// */

.heading {
    height: 70px;
    line-height: 70px;
    color: #fff;
    background: #222;
    text-align: center;
}
.description {
    font-size: 14px;
    line-height: 1.6;
}
/* 
========================================
   🧩 line-height의 원래 목적?
   ----------------------------------------
   - 원래는 줄글의 **가독성**을 주기 위해 넣는 속성이었음. 보통 1.5 ~ 1.6 사이를 준다. 
   - 한 줄일 경우에만 line-height로 중간을 맞출 것 

========================================
*/

/* ////////////////////////////////
   📌 Text Decoration
   //////////////////////////////// */

.text-decoration-none {
    text-decoration: none;
}
/* a 태그 초기화 할 때 */
.text-decoration-underline {
    text-decoration: underline;
}
.text-decoration-overline {
    text-decoration: overline;
}
.text-decoration-linethrough {
    text-decoration: line-through;
}

/* ////////////////////////////////
   📌 Text Transform
   //////////////////////////////// */

.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}
/* 첫글자만 대문자로 만드는 */

/* ////////////////////////////////
   📌 letter spacing 자간
   //////////////////////////////// */

.letter-spacing01 {
    font-size: 100px;
    margin: 40px 0;
    text-transform: uppercase;
    /* font-family:'Malgun Gothic'; */
    letter-spacing: 3px;
}
.letter-spacing02 {
    font-size: 100px;
    margin: 40px 0;
    text-transform: uppercase;
    letter-spacing: -2.5px;
}
.letter-spacing03 {
    letter-spacing: 10.5px;
    margin: 30px 0;
}
.letter-spacing04 {
    margin: 30px 0;
    letter-spacing: -0.045px;
}
/* 
========================================
   🧩 자간?
   ----------------------------------------
   - 양수일 때 자간이 늘어남
   - 자간이 넓을수록 읽기가 조금 불편해짐
   - 가독성을 위해서는 자간을 좀 줄일것
   - 서체에 따라 자간이 다름!
========================================
*/

/* ////////////////////////////////
   📌 text-shadow
   //////////////////////////////// */

/* text-shadow: 가로거리 세로거리 번짐정도 색깔; */
.shadow01,
.shadow02,
.shadow03 {
    margin: 50px;
    font-size: 100px;
}
.shadow01 {
    text-shadow: 2px 2px 10px green;
}
.shadow02 {
    text-shadow:
        20px 10px 15px red,
        -30px -20px 15px green,
        30px -50px 30px darkblue;
}
