@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
img {
    vertical-align: top;
}

body {
    height: 100vh;
    background: #2a7b9b;
    /* background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%); */
    background: url(../images/onair.png);
    /* 
        백그라운드를 쓰면 반복(리핏) 된다.
    */
    background-repeat: repeat;
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    /* x방향으로만 리핏 */
    background-repeat: repeat-y;
    /* y방향으로만 리핏 */
    background: steelblue url(../images/onair.png) no-repeat;
}

.frame01,
.frame02 {
    width: 500px;
    height: 500px;
    border: 2px solid darkgreen;
    margin: 100px auto;
}
.frame01 {
    background-image: url(../images/pexels-packermann-1666021.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* 
        background-position 의 디폴트는 left top
    */
    background-position: right bottom;

    background: red url(../images/pexels-packermann-1666021.jpg) no-repeat center center/cover;
    background: red url(../images/pexels-packermann-1666021.jpg) no-repeat center center;
    background-size: cover;
}
.frame02 {
}
.frame02 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: center center; */
}

/* 
의미가 있으면 <img>
장식이면 background-image
https://daco2020.tistory.com/54

  웹페이지에 이미지를 넣는 방식은 크게 두 가지가 있다.
1번.  HTML에서 <img /> 태그를 활용해 넣는 방법.

<img src="이미지 링크"/>​
 

2번. CSS 에서 background-image 속성을 활용해 넣는 방법.

{ background-image: url("이미지 링크"); }​
   그렇다면 이 둘의 차이점은 무엇인가? (줄여서 1번, 2번이라 지칭하겠음)
1번은 이미지 로딩이 실패할 때, alt="대체 메시지"로 대체 결과물을 출력할 수 있지만 2번은 그렇지 못하다.
1번은 HTML이 구문 분석될 때 요청이 이루어지므로 성능면에서 2번보다 좋다.
1번은 검색 엔진에서 색인을 생성하여 검색시에 노출이 되지만 2번은 자동으로 색인화하지 않기 때문에 검색 시 노출되지 않는다.
*/
