@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
img {
    vertical-align: top;
}

/* common class */
.clearFix::after {
    content: "";
    display: block;
    clear: both;
}

nav {
    width: 100%;
    background-color: #333;
}
nav > ul.depth1 {
    width: 550px;
    margin: 0 auto;
}
nav > ul.depth1 > li {
    float: left;
    margin-right: 50px;
    position: relative;
}
nav > ul.depth1 > li:last-child {
    margin-right: 0;
}
nav > ul.depth1 > li:hover {
    color: #333;
    background-color: pink;
}
nav > ul.depth1 > li:hover .depth2 {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s visibility 0.5s;
}
nav > ul.depth1 > li > a {
    display: block;
    /* height: 50px; */
    line-height: 50px;
    /* 
    line-height 만 넣어도 높이가설정됨
    */
    font-size: 20px;
    width: 100px;
    text-align: center;
}

nav .depth1 .depth2 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #333333b1;
    padding: 10px 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
nav .depth1 .depth2 li a {
    white-space: nowrap;
    /* 개행을 막는 코드 */
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}
nav .depth1 .depth2 li a:hover {
    color: #333;
    background-color: pink;
}
