@charset "utf-8";
/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #222;
}
img {
    vertical-align: top;
}

/* 고용 클래스 스타일 */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.container {
    width: 1440px;
    margin: 0 auto;
    text-align: center;
}
.float_left {
    float: left;
}
.w_50 {
    width: 50%;
}
/* 
    앞으로 만들 때 항상 이 포맷
    콘테이너는 이제 모든 곳에서 사용함
    */

/* 스타일 */
header {
    font-size: 23px;
    font-weight: 500;
}
header .container {
    width: 100%;
    margin: 0 auto;
}
header h1 {
    margin: 30px 0;
    /* 공간 확보를 위해 */
}

header nav {
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
header nav .gnb {
    width: 725px;
    padding: 14px 0;
    margin: 0 auto;
}
header nav .gnb li {
    float: left;
    /* margin-right: 40px; */
    width: 145px;
    /* height: 34px; */
    line-height: 34px;
}
/* header nav .gnb li:last-child {
    margin-right: 0;
} */
header nav .gnb li a {
    display: block;
    width: 100%;
    height: 100%;
}

/* 

    nav같은 시멘특 태그에는 클래스명을 잘 주지않는다
*/

/* 메인 영역 */
main {
    margin-top: 30px;
    padding: 30px 0;
}

main .path-wrap {
    font-size: 16px;
    color: #666;
    line-height: 17px;
}
main .path-wrap {
    padding: 4px 0;
    text-align: left;
}
main .path-wrap li {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    line-height: 16px;
    margin: 2px 8px 2px 10px;
}
main .path-wrap li:last-child {
    margin-right: 0;
}
main .path-wrap li img {
    width: 100%;
    height: 100%;
}

main .title-wrap {
    font-size: 38px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
}
main h2 {
    font-size: 38px;
    height: 40px;
    line-height: 40px;
    float: left;
}
main .util-link {
    float: right;
}
main .util-link li {
    display: inline-block;
    padding-top: 10px;
    height: 40px;
    line-height: 40px;
    margin-right: 40px;
}
main .util-link li:last-child {
    margin-right: 0;
}
main .util-link li a {
    display: block;
    width: 25px;
    height: 25px;
}
main .util-link li a img {
    width: 100%;
    height: 100%;
}

main .greeting {
    margin-top: 50px;
    /* font-size: 0;/ */
}
main .greeting img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .left_img {
    height: 548px;
}
main .right_introduce {
    float: right;
    height: 548px;
    padding: 120px 0 35px 40px;
}

main .right_img {
    width: 290px;
    height: 207px;
}
main .right_img img {
    display: block;
}

.right_introduce strong {
    font-size: 48px;
    font-weight: 700;
}
.right_introduce p {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: 0.2px;
    padding-top: 16px;
    text-align: left;
}
