@charset "utf-8";
/* 
    reset
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #333;
}
ul {
    list-style: none;
}
img {
    vertical-align: top;
    /* display: block; */
}

/* =========================================
   블록 요소의 기본 너비 & 높이
   -----------------------------------------
    - 블록 요소의 너비 width는 기본적으로 100%임
    - 부모 요소에게 너비 상속
    - 높이 height 값은 상속되지 않는다 === 디폴트 값 auto
    - 함부로 높이값을 주지말라
    - 높이는 따로 값을 주지 않는 이상 콘텐츠의 높이만큼 자동으로 늘어난다
    ========================================= */

/* 가상요소 + 공통 클래스*/
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* 
    공통 클래스는 맨 위에 적는다
*/

.thumb {
    float: left;
    margin: 10px;
}

/* 
    마진까지가 박스 모델

    p에 마진을 주면 이미지 사이가 아니라 p태그 에 마진이 생긴다. -> 떠있는 요소이기 때문에 

*/

/* 
    clear => float 를 끊어준다.  float 을 쓰면 부모 요소의 높이가 사라진다. 

*/

/* 
    삽화를 넣을 때 쓴다. 

*/

.portfolio {
    /* font-size: 0; */
}

/* 
 <div class="portfolio">
:: before 
자식요소
::after
 </div>


*/

.portfolio div {
    float: left;
}
.portfolio div img {
}

/* 

    블록 요소인 div가 float 속성을 받을 때 콘텐츠 너비 만큼 너비가 작아진다

*/

.portfolio2 div {
    float: left;
}
.portfolio2 div img {
}

.mb-30 {
    margin-bottom: 30px;
}
/* 반응형을 잘하려면 float 부모 요소에 높이를 주면 안됨  ==> float가 적용된 부모의 높이는  0*/
