@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    display: block;
}

/* 공통 클래스 */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* 스타일링 */
.gallery {
    width: 1200px;
    margin: 0 auto;
}
.gallery li {
    width: 288px;
    height: 288px;
    margin-right: 16px;
    float: left;
    background-color: blue;
    color: white;
    line-height: 260px;
    text-align: center;
}
.gallery li:last-child {
    margin-right: 0;
}

.bear {
    width: 1200px;
    margin: 0 auto;
}
.bear li {
    float: left;
    width: 288px;
    height: 288px;
    margin: 16px 16px 0 0;
}
.bear li:nth-child(4n) {
    margin-right: 0;
}
/* 4n === 4의 배수 !!! */
.bear li a {
    display: block;
    width: 100%;
    height: 100%;
}
.bear li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 
        너비와 높이를 주면 자동으로
    */
}

/* 

개행은 마진 중첩이 되지 않는다
*/

.gallery02 {
    width: 1400px;
    margin: 0 auto;
}
.gallery02 li {
    float: left;
    width: 335px;
    height: 335px;
    margin: 20px 20px 0 0;
}
.gallery02 li:nth-child(4n) {
    margin-right: 0;
}
/* .gallery02 li:nth-child(-n + 4) {
    margin-top: 0;
} */
.gallery02 li a {
    display: block;
    width: 100%;
    height: 100%;
}
.gallery02 li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* =========================================
   nth-child 요약
   ========================================= */

/* nth-child는 비교 연산자(<, >, <= 등) 사용 불가 */
/* 허용되는 형태는 오직: an + b */

/* ❌ 잘못된 예 */
/* :nth-child(4 - n) */
/* :nth-child(< 4) */

/* ✅ 올바른 예 */

/* 1~4번째 자식 선택 */
/* li:nth-child(-n + 4) {} */

/* 5번째부터 끝까지 */
/* li:nth-child(n + 5) {} */

/* 4의 배수 (4, 8, 12, ...) */
/* li:nth-child(4n) {} */

/* 홀수 */
/* li:nth-child(2n + 1) {} */

/* 짝수 */
/* li:nth-child(2n) {} */

/* n은 항상 계수와 함께 앞에만 올 수 있음 */
/* (-n + 4 가능, 4 - n 불가) */
