/* reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #333;
}
ul {
    list-style: none;
}
img {
    vertical-align: top;
}

/* 공통클래스 */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* 스타일 */
nav {
    font-size: 17px;
    font-weight: 600;
    border-bottom: 1px solid #dbdbdb;
}
nav ul {
    width: 720px;
    margin: 0 auto;
}
nav ul li {
    float: left;
}
nav ul li a {
    height: 60px;
    width: 120px;
    color: #5e5e5e;
    line-height: 60px;
    text-align: center;
    transition: 0.2s;
    display: block;
}
nav ul li a:hover {
    background-color: #cc0000;
    color: white;
}
