@charset "utf-8";

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    display: block;
    text-decoration: none;
    color: #333;
    text-align: center;
}
img {
    vertical-align: top;
}

/* common */

.container {
    width: 1100px;
    margin: 0 auto;
}

.section {
    padding: 110px 0;
}
/* 
    섹션간의 여백을 padding으로 확복할것
    여백은 거의 동일하게
*/
/* top , bottom section*/

.top-section,
.bottom-section {
    height: 1000px;
    background-color: pink;
}
/* pick~ */
.pick-your-favorite {
    /* background attachment를 적용하기 위해서는 높이를 줘야한다. */
    height: 800px;
    background: url(../images/2026_new_year2_pick_bg_260130.jpg) no-repeat center center/cover;
    background-attachment: fixed;
    background-size: 100% 87%;
}
.pick-your-favorite .container {
    position: relative;
    width: 100%;
    height: 800px;
}
.pick-your-favorite .text-group {
    width: 360px;
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 55%;
    top: 50%;
    transform: translate(0, -50%);
}
.pick-your-favorite .text-group .slide01 {
    width: 360px;
    /* 
      \애니메이션 효과의 이름을 지정합니다. 이 이름은 @ㅏ됽믇 rbclrdp wjddmlgks zlvmfpdlarhk aocldehlqslek.
       */
    animation: text-ani01;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    /*  linear: 일정한 속도
        ease: 시작은 느리고 중간에 빨라졌다가 끝에서 다시 느려짐
        ease-in: 시작이 느림
        ease-out: 끝이 느림
        ease-in-out: 시작과 끝이 느림 */

    /* animation-delay: 0.3s; */

    /* 애니메이션이 시작되기 전이나 끝나고 난뒤의 스타일을 지정하는 속성 */
    /* 애니메이션 진행방향 
        normal : 정방향
        reverse: 역방향
        alternate : 한번은 정방향, 그다음엔 역방향
        alternate -reverse: 한번은  역방향, 그다음엔 정방향
    */

    animation-direction: alternate;

    /* 애니메이션이 몇 번 반복될지를 설정 */
    /*  숫자 값 (1, 2, ...): 반복 횟수 - 기본값:1
        infinite: 무한 반복 */
    animation-iteration-count: infinite;
    /* 애니메이션이 실행되거나 일시 중지되는 상태를 설정 */
    /* animation-play-state: running;  */
}
.pick-your-favorite .text-group .slide02 {
    width: 360px;
    /* animation: text-ani02 1s ease-in-out 0.2s backwards; */
    /* 
        backword 애니메이션이 시작되기 전에 미리 키프레임이 설정되어있는것
    */
    animation: text-ani02 1s ease-in-out 0.2s backwards;
}

@keyframes text-ani01 {
    0% {
        margin-left: -100px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}
@keyframes text-ani02 {
    0% {
        margin-left: -80px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}
.pick-your-favorite .text-group .slide01 img {
    margin-bottom: 35px;
}
.pick-your-favorite .text-group .slide02 img {
    margin-bottom: 35px;
}

@keyframes text-ani03 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pick-your-favorite .text-group a {
    display: inline-block;
    width: 150px;
    line-height: 40px;
    text-align: center;
    border: 2px solid #fff;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    animation: text-ani03 1s ease-in-out 0.2s backwards;
}
.pick-your-favorite .img-group {
    width: 953px;
    position: absolute;
    right: 285px;
    top: 50%;
    transform: translate(0, -50%);
    animation: img-ani01 1s ease-in-out;
}

@keyframes img-ani01 {
    0% {
        right: 200px;
        opacity: 0;
    }
    100% {
        right: 285px;
        opacity: 1;
    }
}

/* 

    포워드와 백워즈의 차이

    1. 시작하는 키프레임 이 어떤 프레임이냐에 따라

    백 --> 맨처음 키프레임으로 준비
    포워-> 맨 처음 키프레임으로 시작 x

    즉 먼저 키프레임이 준비되느냐 아니냐에 따른 차이
*/
